<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">来自 {{ notification.sender }} 的一则通知</h4>
          <p class="card-category">发送时间: {{ notification.time | date:'y年M月d日 H:mm::ss' }}</p>
        </div>
        <div class="card-body">
          <p class="text-justify indent-2">{{ notification.content }}</p>
          <div class="float-right">
            <a mat-button color="warn">删除该通知</a>
            <a mat-button color="primary">返回</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>