<div fxLayout="row">
  <div fxFlex.lg="1 1 calc(1em)"></div>
  <div fxFlex="8 8 calc(8em)" class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">通知详情</h4>
    </div>
    <div class="card-body">
      <detail-section>
        <detail-item>
          <detail-item-title>发送人</detail-item-title>
          <detail-item-content>{{ notification.sender }}</detail-item-content>
        </detail-item>

        <detail-item>
          <detail-item-title>发送时间</detail-item-title>
          <detail-item-content>{{ notification.time }}</detail-item-content>
        </detail-item>

        <detail-item>
          <detail-item-title>阅读时间</detail-item-title>
          <detail-item-content>{{ notification.read_time }}
          </detail-item-content>
        </detail-item>

        <detail-item>
          <detail-item-title>通知内容</detail-item-title>
          <detail-item-content>{{ notification.content }}</detail-item-content>
        </detail-item>
      </detail-section>

      <detail-section-actions>
        <a mat-raised-button color="primary" (click)="location.back()">返回</a>
      </detail-section-actions>
    </div>
  </div>
  <div fxFlex.lg="1 1 calc(1em)"></div>
</div>