<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <table class="table" border="1">
            <thead>
            <tr>
              <th width="600" colspan="3">字段</th>
              <th>详情</th>
            </tr>
            </thead>
            <tbody>
            <tr >
              <td colspan="3">id</td>
              <td>{{ item.id }}</td>
            </tr>
            <tr>
              <td colspan="3">name</td>
              <td>{{ item.name }}</td>
            </tr>
            <tr>
              <td colspan="3">time</td>
              <td>{{ item.time }}</td>
            </tr>
            <tr>
              <td colspan="3">location</td>
              <td>{{ item.location }}</td>
            </tr>
            <tr>
              <td colspan="3">num_hours</td>
              <td>{{ item.num_hours }}</td>
            </tr>
            <tr>
              <td colspan="3">num_participants</td>
              <td>{{ item.num_participants }}</td>
            </tr>
            <tr>
              <td colspan="3">deadline</td>
              <td>{{ item.deadline }}</td>
            </tr>
            <tr>
              <td colspan="3">num_enrolled</td>
              <td>{{ item.num_enrolled }}</td>
            </tr>
            <tr>
              <td colspan="3">description</td>
              <td>{{ item.description }}</td>
            </tr>
            <tr>
              <td rowspan="11">program_detail</td>
              <td colspan="2">id</td>
              <td>{{ item.program_detail.id }}</td>
            </tr>
            <tr>
              <td rowspan="5">department_detail</td>
              <td>id</td>
              <td>{{ item.program_detail.department_detail.id }}</td>
            </tr>
            <tr>
              <td>create_time</td>
              <td>{{ item.program_detail.department_detail.create_time }}</td>
            </tr>
            <tr>
              <td>update_time</td>
              <td>{{ item.program_detail.department_detail.update_time }}</td>
            </tr>
            <tr>
              <td>name</td>
              <td>{{ item.program_detail.department_detail.name }}</td>
            </tr>
            <tr>
              <td>admins</td>
              <td>{{ item.program_detail.department_detail.admins}}</td>
            </tr>
            <tr>
              <td rowspan="2">category_detail</td>
              <td>id</td>
              <td>{{ item.program_detail.category_detail.id }}</td>
            </tr>
            <tr>
              <td>name</td>
              <td>{{ item.program_detail.category_detail.name }}</td>
            </tr>
            <tr>
              <td colspan="2">name</td>
              <td>{{ item.program_detail.name }}</td>
            </tr>
            <tr>
              <td colspan="2">department</td>
              <td>{{ item.program_detail.department }}</td>
            </tr>
            <tr>
              <td colspan="2">category</td>
              <td>{{ item.program_detail.category }}</td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

