<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <table class="table" border="1">
            <thead>
            <tr>
              <th width="360" colspan="3">字段</th>
              <th>详情</th>
            </tr>
            </thead>
            <tbody>
            <tr >
              <td colspan="3">编号</td>
              <td>{{ item.id }}</td>
            </tr>
            <tr>
              <td colspan="3">名称</td>
              <td>{{ item.name }}</td>
            </tr>
            <tr>
              <td colspan="3">时间</td>
              <td>{{ item.time }}</td>
            </tr>
            <tr>
              <td colspan="3">地点</td>
              <td>{{ item.location }}</td>
            </tr>
            <tr>
              <td colspan="3">时长</td>
              <td>{{ item.num_hours }}</td>
            </tr>
            <tr>
              <td colspan="3">参与人数</td>
              <td>{{ item.num_participants }}</td>
            </tr>
            <tr>
              <td colspan="3">截止时间</td>
              <td>{{ item.deadline }}</td>
            </tr>
            <tr>
              <td colspan="3">登记数</td>
              <td>{{ item.num_enrolled }}</td>
            </tr>
            <tr>
              <td colspan="3">描述</td>
              <td>{{ item.description }}</td>
            </tr>
            <tr>
              <td rowspan="11">项目详情</td>
              <td colspan="2">编号</td>
              <td>{{ item.program_detail.id }}</td>
            </tr>
            <tr>
              <td rowspan="5">单位详情</td>
              <td>编号</td>
              <td>{{ item.program_detail.department_detail.id }}</td>
            </tr>
            <tr>
              <td>创建时间</td>
              <td>{{ item.program_detail.department_detail.create_time }}</td>
            </tr>
            <tr>
              <td>更新时间</td>
              <td>{{ item.program_detail.department_detail.update_time }}</td>
            </tr>
            <tr>
              <td>名称</td>
              <td>{{ item.program_detail.department_detail.name }}</td>
            </tr>
            <tr>
              <td>管理员</td>
              <td>{{ item.program_detail.department_detail.admins}}</td>
            </tr>
            <tr>
              <td rowspan="2">类别详情</td>
              <td>详情</td>
              <td>{{ item.program_detail.category_detail.id }}</td>
            </tr>
            <tr>
              <td>名称</td>
              <td>{{ item.program_detail.category_detail.name }}</td>
            </tr>
            <tr>
              <td colspan="2">名称</td>
              <td>{{ item.program_detail.name }}</td>
            </tr>
            <tr>
              <td colspan="2">单位</td>
              <td>{{ item.program_detail.department }}</td>
            </tr>
            <tr>
              <td colspan="2">类别</td>
              <td>{{ item.program_detail.category }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

