<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <!--<p class="list-group-item">id:{{ item.id }}</p>-->
          <!--<p class="list-group-item">-->
            <!--program_detail:<br/>-->
            <!--&nbsp;id:{{ item.program_detail.id }}<br/>-->
            <!--&nbsp;name:{{item.program_detail.name}}<br/>-->
            <!--&nbsp;department:{{item.program_detail.department}}<br/>-->
            <!--&nbsp;category:{{item.program_detail.category}}<br/>-->
            <!--&nbsp;department_datail:<br/>-->
            <!--&nbsp;&nbsp;id:{{item.program_detail.department_detail.id}}<br/>-->
            <!--&nbsp;&nbsp;create_time:{{item.program_detail.department_detail.create_time}}<br/>-->
            <!--&nbsp;&nbsp;update_time:{{item.program_detail.department_detail.update_time}}<br/>-->
            <!--&nbsp;&nbsp;name:{{item.program_detail.department_detail.name}}<br/>-->
            <!--&nbsp;&nbsp;admins:{{item.program_detail.department_detail.admins}}<br/>-->
            <!--&nbsp;category_detail:<br/>-->
            <!--&nbsp;&nbsp;id:{{item.program_detail.category_detail.id}}<br/>-->
            <!--&nbsp;&nbsp;name:{{item.program_detail.category_detail.name}}<br/>-->
          <!--</p>-->
          <!--<p class="list-group-item">creat_time:{{ item.create_time }}</p>-->
          <!--<p class="list-group-item">update_time:{{ item.update_time }}</p>-->
          <!--<p class="list-group-item">name:{{ item.name}}</p>-->
          <!--<p class="list-group-item">time:{{ item.time }}</p>-->
          <!--<p class="list-group-item">location:{{ item.location }}</p>-->
          <!--<p class="list-group-item">num_hours:{{ item.num_hours }}</p>-->
          <!--<p class="list-group-item">num_participants:{{ item.num_participants }}</p>-->
          <!--<p class="list-group-item">deadline:{{ item.deadline }}</p>-->
          <!--<p class="list-group-item">description:{{ item.description }}</p>-->
          <!--<p class="list-group-item">num_enrolled:{{ item.num_enrolled }}</p>-->
          <!--<p class="list-group-item">program:{{ item.program }}</p>-->
          <table class="table">
            <caption>校内培训活动详情</caption>
            <thead>
            <tr>
              <th>字段</th>
              <th>详情</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>id</td>
              <td>{{ item.id }}</td>
            </tr>
            <tr>
              <td>name</td>
              <td>{{ item.name }}</td>
            </tr>
            <tr>
              <td>create_time</td>
              <td>{{ item.create_time }}</td>
            </tr>
            <tr>
              <td>update_time</td>
              <td>{{ item.update_time }}</td>
            </tr>
            <tr>
              <td>description</td>
              <td>{{ item.description }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

