<div fxLayout="column" class="loading-shade" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div fxLayout="row">
  <div fxFlex.lg="1 1 calc(1em)"></div>
  <div fxFlex="8 8 calc(8em)" class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">增加报名用户</h4>
    </div>
    <div class="card-body" fxLayout="column" fxLayoutAlign="start stretch">

      <div class="detail-section" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px" *ngIf="!isLoading">
        <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center"
          fxLayoutGap="15px" fxLayoutAlign.xs="start start">
          <span class="item-title" fxFlex="1 0 20%" fxFlexAlign.xs="start">用户名</span>
          <div class="item-content" fxFlex="1 0 78%" fxFlexAlign.xs="stretch">
            <form fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column"
              fxLayoutAlign.xs="start stretch" (ngSubmit)="retrieveUserPermissions()">
              <mat-form-field>
                <input matInput type="text" name="username" [(ngModel)]="username" #usernameModel="ngModel" required>
                <mat-error *ngIf="usernameModel.hasError('required')">请输入用户名。</mat-error>
              </mat-form-field>
              <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
                <button mat-raised-button type="submit" color="primary" [disabled]="usernameModel.invalid">检索</button>
              </div>
            </form>
          </div>
          <div fxFlex="1 0 2%"></div>
        </div>

        <p class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</p>

        <mat-divider></mat-divider>

        <ng-container *ngIf="user">
          <detail-section>
            <detail-item>
              <detail-item-title>姓名</detail-item-title>
              <detail-item-content>{{ user.first_name }}</detail-item-content>
            </detail-item>

            <detail-item>
              <detail-item-title>性别</detail-item-title>
              <detail-item-content>{{ user.gender_str }}</detail-item-content>
            </detail-item>

            <detail-item>
              <detail-item-title>年龄</detail-item-title>
              <detail-item-content>{{ user.age }}</detail-item-content>
            </detail-item>

            <detail-item>
              <detail-item-title>任教类型</detail-item-title>
              <detail-item-content>{{ user.teaching_type }}</detail-item-content>
            </detail-item>

            <detail-item>
              <detail-item-title>专业技术职称</detail-item-title>
              <detail-item-content>{{ user.technical_title }}</detail-item-content>
            </detail-item>

            <detail-item>
              <detail-item-title>所属院系</detail-item-title>
              <detail-item-content>{{ user.department_str }}</detail-item-content>
            </detail-item>

            <detail-item>
              <detail-item-title>所属行政单位</detail-item-title>
              <detail-item-content>{{ user.administrative_department_str }}</detail-item-content>
            </detail-item>

          </detail-section>
        </ng-container>
        <detail-section-actions>
          <button mat-raised-button color="primary" *ngIf="user" (click)="enrollEvent()">报名</button>
          <button mat-raised-button color="primary" (click)="location.back()">返回</button>
        </detail-section-actions>
      </div>
    </div>
  </div>
  <div fxFlex.lg="1 1 calc(1em)"></div>
</div>
