<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">校园培训活动详情</h4>
          </div>
          <div class="card-body">
            <div class="detail-section" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap.md="10px">
              <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
                fxLayoutGap="15px">
                <span class="item-title" fxFlex="1 0 20%">活动名称</span>
                <div class="item-content" fxFlex="1 0 78%">
                  <p>{{ item.name }}</p>
                </div>
                <div fxFlex="1 0 2%"></div>
              </div>
              <div class="detail-section" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap.md="10px">
                  <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
                    fxLayoutGap="15px">
                    <span class="item-title" fxFlex="1 0 20%">编号</span>
                    <div class="item-content" fxFlex="1 0 78%">
                      <p>{{ item.id }}</p>
                    </div>
                    <div fxFlex="1 0 2%"></div>
                  </div>
              <div class="detail-section" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap.md="10px">
                  <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
                    fxLayoutGap="15px">
                    <span class="item-title" fxFlex="1 0 20%">时间</span>
                    <div class="item-content" fxFlex="1 0 78%">
                      <p>{{ item.time | date:'y年M月d日 H:mm' }}</p>
                    </div>
                    <div fxFlex="1 0 2%"></div>
                  </div>
              <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
                fxLayoutGap="15px">
                <span class="item-title" fxFlex="1 0 20%">地点</span>
                <div class="item-content" fxFlex="1 0 78%">
                  <p>{{ item.location }}</p>
                </div>
                <div fxFlex="1 0 2%"></div>
              </div>
              <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
                fxLayoutGap="15px">
                <span class="item-title" fxFlex="1 0 20%">时长</span>
                <div class="item-content" fxFlex="1 0 78%">
                  <p>{{ item.num_hours | number:"0.1-1"  }}</p>
                </div>
                <div fxFlex="1 0 2%"></div>
              </div>
              <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
                fxLayoutGap="15px">
                <span class="item-title" fxFlex="1 0 20%">参与人数</span>
                <div class="item-content" fxFlex="1 0 78%">
                  <p>{{ item.num_participants }}</p>
                </div>
                <div fxFlex="1 0 2%"></div>
              </div>
              <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
               fxLayoutGap="15px">
                <span class="item-title" fxFlex="1 0 20%">截止时间</span>
                <div class="item-content" fxFlex="1 0 78%">
                  <p>{{ item.deadline | date:'y年M月d日 H:mm::ss' }}</p>
               </div>
              <div fxFlex="1 0 2%"></div>
            </div>
              <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
                fxLayoutGap="15px">
                  <span class="item-title" fxFlex="1 0 20%">登记数</span>
                  <div class="item-content" fxFlex="1 0 78%">
                    <p>{{ item.num_enrolled }}</p>
                </div>
                <div fxFlex="1 0 2%"></div>
              </div>
            <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
            fxLayoutGap="15px">
              <span class="item-title" fxFlex="1 0 20%">描述</span>
              <div class="item-content" fxFlex="1 0 78%">
                <p>{{ item.description }}</p>
              </div>
            <div fxFlex="1 0 2%"></div>
          </div>   
          <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
            fxLayoutGap="15px">
              <span class="item-title" fxFlex="1 0 20%">项目名称</span>
              <div class="item-content" fxFlex="1 0 78%">
                <p>{{ item.program_detail.name }}</p>
              </div>
            <div fxFlex="1 0 2%"></div>
          </div>   
          <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
            fxLayoutGap="15px">
              <span class="item-title" fxFlex="1 0 20%">项目单位</span>
              <div class="item-content" fxFlex="1 0 78%">
                <p>{{ item.program_detail.department }}</p>
              </div>
            <div fxFlex="1 0 2%"></div>
          </div>   
          <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
            fxLayoutGap="15px">
              <span class="item-title" fxFlex="1 0 20%">项目类别</span>
              <div class="item-content" fxFlex="1 0 78%">
                <p>{{ item.program_detail.category }}</p>
              </div>
            <div fxFlex="1 0 2%"></div>
          </div>

          <div fxLayout="row" fxLayoutAlign="end stretch" fxLayoutGap="5px">
              <a mat-raised-button class="btn btn-danger">取消报名</a> 
              <a mat-raised-button class="btn btn-danger" (click)="location.back()">返回</a> 
            </div>
        </div>
      </div>
    </div>
  </div>   
                  