@import '~@angular/material/theming';
@import './component-themes';

@include mat-core();

.indigo-pink {
  $primary: mat-palette($mat-indigo);
  $accent: mat-palette($mat-pink);
  $warn: mat-palette($mat-red);
  $indigo-pink-theme: mat-light-theme($primary, $accent, $warn);

  @include angular-material-theme($indigo-pink-theme);
  @include component-themes($indigo-pink-theme);
}

.deeppurple-amber {
  $primary: mat-palette($mat-deep-purple);
  $accent: mat-palette($mat-teal);
  $warn: mat-palette($mat-red);
  $deeppurple-amber-theme: mat-light-theme($primary, $accent, $warn);

  @include angular-material-theme($deeppurple-amber-theme);
  @include component-themes($deeppurple-amber-theme);
}