<div fxLayout="row">
  <div fxFlex.lg="1 1 calc(1em)"></div>
  <div fxFlex="8 8 calc(8em)" class="card">
    <div class="card-header card-header-primary" *ngIf="recordExportType === RecordExportType.EXPORT_FOR_USER">
      <h4 class="card-title">个人培训记录导出</h4>
      <p class="card-category">您可以检索和导出所有历史培训记录</p>
    </div>
    <div class="card-header card-header-primary" *ngIf="recordExportType === RecordExportType.EXPORT_FOR_ADMIN">
      <h4 class="card-title">教师培训记录导出</h4>
      <p class="card-category">您可以检索和导出指定教师的所有历史培训记录</p>
    </div>
    <div class="card-body">
      <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
      </div>
      <form class="form-container" [formGroup]="filterForm">
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch"
             fxLayout.xs="column">
          <mat-form-field appearance="outline" *ngIf="recordExportType === RecordExportType.EXPORT_FOR_ADMIN">
            <mat-icon matPrefix>people</mat-icon>
            <mat-label i18n>教师工号</mat-label>
            <input matInput placeholder="" formControlName="userName" i18n-placeholder>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-icon matPrefix>event</mat-icon>
            <mat-label i18n>活动名称</mat-label>
            <input matInput placeholder="" formControlName="eventName" i18n-placeholder>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-icon matPrefix>place</mat-icon>
            <mat-label i18n>活动地点</mat-label>
            <input matInput placeholder="" formControlName="location" i18n-placeholder>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-icon matPrefix>calendar_today</mat-icon>
            <mat-label i18n>起始时间</mat-label>
            <input matInput [matDatepicker]="startPicker" placeholder="请告诉我们您所参加培训的时间" formControlName="startTime"
              i18n-placeholder>
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #startPicker disabled="false"></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-icon matPrefix>calendar_today</mat-icon>
            <mat-label i18n>截止时间</mat-label>
            <input matInput [matDatepicker]="endPicker" placeholder="请告诉我们您所参加培训的时间" formControlName="endTime"
              i18n-placeholder>
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #endPicker disabled="false"></mat-datepicker>
          </mat-form-field>

          <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="5px">
            <button mat-raised-button type="button" color="primary" (click)="doResultsExport()">导出</button>
            <button mat-raised-button type="button" color="primary" (click)="forceRefresh()">检索</button>
          </div>
        </div>
      </form>

      <div class="table-responsive">
        <table class="table table-hover text-center">
          <thead class="text-primary">
            <tr>
              <th scope="col">活动名称</th>
              <th scope="col">活动时间</th>
              <th scope="col">活动地点</th>
              <th scope="col">活动学时</th>
              <th scope="col">最大可报名人数</th>
              <th scope="col">培训记录状态</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let record of results">
              <div *ngIf="record.off_campus_event; then offCampusEventBlock else campusEventBlock"></div>
              <ng-template #offCampusEventBlock>
                <td [matTooltip]="record.off_campus_event.name">{{ record.off_campus_event.name | truncate:11}}</td>
                <td>{{ record.off_campus_event.time }}</td>
                <td [matTooltip]="record.off_campus_event.location">{{ record.off_campus_event.location | truncate:8}}</td>
                <td>{{ record.off_campus_event.num_hours }}</td>
                <td>{{ record.off_campus_event.num_participants }}</td>
              </ng-template>
              <ng-template #campusEventBlock>
                <td>{{ record.campus_event.name | truncate:11}}</td>
                <td>{{ record.campus_event.time }}</td>
                <td>{{ record.campus_event.location | truncate:8}}</td>
                <td>{{ record.campus_event.num_hours }}</td>
                <td>{{ record.campus_event.num_participants }}</td>
              </ng-template>
              <td>
                <mat-chip-list class="d-flex justify-content-center align-items-center">
                 <mat-chip color="warn" *ngIf="warnStatus.has(record.status)" selected>{{ record.status_str }}</mat-chip>
                 <mat-chip color="primary" *ngIf="primaryStatus.has(record.status)" selected>{{ record.status_str }}</mat-chip>
                 <mat-chip color="disabled" *ngIf="disabledStatus.has(record.status)" selected>{{ record.status_str }}</mat-chip>
               </mat-chip-list>
              </td>
            </tr>
          </tbody>
        </table>
        <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [disabled]="isLoadingResults"></mat-paginator>
      </div>
    </div>
  </div>
  <div fxFlex.lg="1 1 calc(1em)"></div>
</div>