<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">帐号权限管理</h4>
        </div>
        <div class="card-body" fxLayout="column" fxLayoutAlign="start stretch">
          <form (ngSubmit)="retrieveUserPermissions()">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
              <mat-form-field>
                <input matInput type="text" name="username" placeholder="用户名" [(ngModel)]="username"
                  #usernameModel="ngModel" required>
                <mat-error *ngIf="usernameModel.hasError('required')">请输入用户名。</mat-error>
              </mat-form-field>
              <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
                <button mat-raised-button type="submit" color="primary"
                  [disabled]="usernameModel.invalid">检索</button>
                <button mat-raised-button type="button" color="warn" (click)="updatePermissions()"
                  *ngIf="!isLoading && originalPermissions.length !== 0">保存</button>
              </div>
            </div>
          </form>

          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-spinner *ngIf="isLoading" color="warn" mode="indeterminate">
            </mat-spinner>
          </div>

          <p class="text-danger" *ngIf="errorMessage !== null">{{ errorMessage }}</p>
          <div class="table-responsive" *ngIf="!isLoading && newPermissions.length !== 0">
            <table class="table">
              <thead class="text-primary">
                <th>
                  权限名称
                </th>
                <th>
                  是否拥有该权限？
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let perm of newPermissions">
                  <td>
                    {{perm.permission.label}}
                  </td>
                  <td>
                    <mat-checkbox [(ngModel)]="perm.hasPermission"></mat-checkbox>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>