<div fxLayout="column">
    <div fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="10px"
         fxLayout.gt-sm="row">
        <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">content_copy</i>
                </div>
                <p class="card-category">培训记录</p>
                <h3 class="card-title">2658</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i>
                    最后更新：2019年3月28日 14:00
                </div>
            </div>
        </div>
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">store</i>
                </div>
                <p class="card-category">进行中活动</p>
                <h3 class="card-title">38</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i>
                    最后更新：2019年3月28日 14:00
                </div>
            </div>
        </div>
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">info_outline</i>
                </div>
                <p class="card-category">人均培训记录</p>
                <h3 class="card-title">16</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i>
                    最后更新：2019年3月28日 14:00
                </div>
            </div>
        </div>
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">access_time</i>
                </div>
                <p class="card-category">本月新增记录</p>
                <h3 class="card-title">+245</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i>
                    最后更新：2019年3月28日 14:00
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="20px"
         fxLayout.gt-sm="row">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">各学部学院最近30天培训记录新增情况</h4>
                <p class="card-category">
                    （只计算审核通过的有效培训记录数量）
                </p>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover text-center">
                    <thead class="color-primary">
                        <th>学部/学院</th>
                        <th>总人数</th>
                        <th>新增培训记录</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>电子信息与电气工程学部</td>
                            <td>368</td>
                            <td>257</td>
                        </tr>
                        <tr>
                            <td>化工与环境生命学部</td>
                            <td>412</td>
                            <td>236</td>
                        </tr>
                        <tr>
                            <td>机械工程学院</td>
                            <td>278</td>
                            <td>186</td>
                        </tr>
                        <tr>
                            <td>人文与社会科学学部</td>
                            <td>311</td>
                            <td>162</td>
                        </tr>
                        <tr>
                            <td>运载工程与力学学部</td>
                            <td>328</td>
                            <td>145</td>
                        </tr>
                        <tr>
                            <td>马克思主义学院</td>
                            <td>138</td>
                            <td>112</td>
                        </tr>
                        <tr>
                            <td>管理与经济学部</td>
                            <td>278</td>
                            <td>108</td>
                        </tr>
                        <tr>
                            <td>外国语学院</td>
                            <td>149</td>
                            <td>98</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i>
                    最后更新：2019年3月28日 14:00
                </div>
            </div>
        </div>
        <div class="card card-chart">
            <div class="card-header card-header-primary">
                <h4 class="card-title">全校月度培训记录新增情况</h4>
                <p class="card-category">
                    本月培训记录新增数量同比&nbsp;增加55%
                </p>
            </div>
            <div class="card-body">
                <div echarts [options]="chartOption" (chartInit)="chartInit($event)"></div>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i>
                    最后更新：2019年3月28日 14:00
                </div>
            </div>
        </div>
    </div>
</div>