<span mat-dialog-title class="mat-subheading-2" i18n fxLayout="row" fxLayoutAlign="center center">通知中心</span>
<div mat-dialog-content>
  <div class="container" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="10px">
    <mat-spinner diameter="50" *ngIf="!notificationService.unreadNotificationsLoaded; else notificationsBlock" fxFlexAlign="center"></mat-spinner>
    <ng-template #notificationsBlock>
      <app-notification-box-card *ngFor="let notification of notificationService.unreadNotifications"
                                 [notification]="notification" [dialogRef]="dialogRef"></app-notification-box-card>
    </ng-template>
  </div>
</div>
<div mat-card-actions i18n fxLayout="row" fxLayoutAlign="end">
  <a mat-button color="primary" (click)="dialogRef.close()" routerLink='/notifications'>查看更多...</a>
</div>