<footer class="footer" fxLayout="row wrap" fxLayoutAlign="end start">
    <nav class="pull-left">
        <ul>
            <li>
                <a href="https://www.dlut.edu.cn">
                    大连理工大学
                </a>
            </li>
            <li>
                <a href="http://ctfd.dlut.edu.cn/">
                    大连理工大学教师教学发展中心
                </a>
            </li>
        </ul>
    </nav>
    <div class="copyright pull-right">
        &copy;
        {{ today | date: 'yyyy' }}, 大连理工大学教师教学发展中心版权所有。
    </div>
</footer>