<div fxLayout="row">
  <div fxFlex.lg="1 1 calc(1em)"></div>
  <div fxFlex="8 8 calc(8em)" class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">培训数据详情</h4>
    </div>
    <div class="card-body">
      <app-off-campus-record-detail [record]="record"></app-off-campus-record-detail>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap.md="10px">
        <div fxLayout="row" fxLayoutAlign="end stretch" fxLayoutGap="5px">
          <button mat-raised-button color="primary" (click)="closeRecord()" *ngIf="adminAllowed">关闭此记录</button>
          <button mat-raised-button color="primary" (click)="changeStatus(true)" *ngIf="adminAllowed">通过</button>
          <button mat-raised-button color="primary" (click)="changeStatus(false)" *ngIf="adminAllowed">不通过</button>
          <button mat-raised-button color="primary" (click)="location.back()">返回</button>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex.lg="1 1 calc(1em)"></div>
</div>
