<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">校内培训活动</h4>
          <p class="card-category">您可以查看所有历史校内培训活动</p>
        </div>
        <div class="card-body">
          <div class="loading-shade" *ngIf="isLoadingResults">
            <mat-spinner></mat-spinner>
          </div>
          <div class="table-responsive">
            <table class="table table-hover text-center">
              <thead class="text-primary ">
               <tr>
                <th scope="col">名字</th>
                <th scope="col">时间</th>
                <th scope="col">地点</th>
                <th scope="col">总时长</th>
                <th scope="col">参与者人数</th>
                <th scope="col">状态</th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let item of results">
                 <div *ngIf="item.id>7; then thenBlock else elseBlock"></div>
                  <ng-template #thenBlock>
                  <td scope="col" (click)="navigateToDetail(item)">{{ item.name }}</td>
                  <td scope="col" (click)="navigateToDetail(item)">{{ item.time | date:'y.M.d' }}</td>
                  <td scope="col" (click)="navigateToDetail(item)">{{ item.location }}</td>
                  <td scope="col" (click)="navigateToDetail(item)">{{ item.num_hours | number:"0.1-1" }} </td>
                  <td scope="col" (click)="navigateToDetail(item)">{{ item.num_participants }}</td>
                  <td scope="col"><button mat-raised-button color="primary">报名</button></td>
                </ng-template>
                <ng-template #elseBlock>
                  <td scope="col" (click)="navigateToDetail(item)">{{ item.name }}</td>
                  <td scope="col" (click)="navigateToDetail(item)">{{ item.time | date:'y.M.d' }}</td>
                  <td scope="col" (click)="navigateToDetail(item)">{{ item.location }}</td>
                  <td scope="col" (click)="navigateToDetail(item)">{{ item.num_hours | number:"0.1-1" }} </td>
                  <td scope="col" (click)="navigateToDetail(item)">{{ item.num_participants }}</td>
                  <td scope="col">已报名</td>
                  </ng-template>
                </tr>
              </tbody>
            </table>
            <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [disabled]="isLoadingResults"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
