<div align="center">
    <button mat-raised-button class="btn btn-lg btn-danger active" aria-pressed="true" (click)="doTableExport()" >导出A表</button>
    <button mat-raised-button class="btn btn-lg btn-danger active" aria-pressed="true">导出A表</button>
    <button mat-raised-button class="btn btn-lg btn-danger active" aria-pressed="true">导出A表</button>
</div>

<div align="center">
    <button mat-raised-button class="btn btn-lg btn-danger active" aria-pressed="true">导出A表</button>
    <button mat-raised-button class="btn btn-lg btn-danger active" aria-pressed="true">导出A表</button>
    <button mat-raised-button class="btn btn-lg btn-danger active" aria-pressed="true">导出A表</button>
</div>
    
    