<div class="container-fluid">
  <div class="d-flex justify-content-end">
    <a class="btn btn-danger btn-sm active" role="button" aria-pressed="true" routerLink='./form'>创建新项目</a>
  </div>
  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div class="row" *ngFor="let program of programs">
    <div class="col-12">
      <div class="card card-plain" (click)="navigateToRelatedEvents(program)">
        <div class="card-header card-header-danger">
          <a>
            <h4 class="card-title">项目名称:{{ program.name }} </h4>
            <p class="card-category">开设单位:{{ program.department }} </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
