<detail-item>
  <detail-item-title>培训记录状态日志</detail-item-title>
  <detail-item-content>
    <p *ngIf="statusChangeLogs.length === 0">暂无相关记录</p>
    <div fxLayout="column" *ngFor="let log of statusChangeLogs">
      <div class="text-background"
           fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px"
           fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
        <span>
          培训记录状态由
          <span class="color-primary">{{ log.pre_status_str }}</span>
          变为
          <span class="color-primary">{{ log.post_status_str }}</span>
        </span>
        <span fxLayout="column" >
          <span>
            操作人：{{ log.user }}
          </span>
          <span>
            操作时间：{{ log.time | date:'medium' }}
          </span>
        </span>
      </div>
    </div>
    <mat-paginator [style.visibility]="statusChangeLogs.length === 0 ? 'hidden': 'visible'"
      [style.height]="statusChangeLogs.length === 0 ? 0 : 'auto'" [length]="totalLength" [pageSize]="pageSize"
      [disabled]="isLoadingResults">
    </mat-paginator>
  </detail-item-content>
</detail-item>