<detail-item>
  <detail-item-title>培训记录状态日志</detail-item-title>
  <detail-item-content>
    <p *ngIf="statusChangeLogs.length === 0">暂无相关记录</p>
    <div class="card" *ngFor="let log of statusChangeLogs">
      <div class="card-body">
        <span>
          培训记录状态由
          <span class="color-primary">{{ log.pre_status_str }}</span>
          变为
          <span class="color-primary">{{ log.post_status_str }}</span>
        </span>
        <span fxLayout="row" fxLayoutAlign="end start">
          由&nbsp;<span class="color-accent">{{ log.user }}</span>&nbsp;
          处理于&nbsp;<span class="color-accent">{{ log.time }}</span>
        </span>
      </div>
    </div>
    <mat-paginator [style.visibility]="statusChangeLogs.length === 0 ? 'hidden': 'visible'"
      [style.height]="statusChangeLogs.length === 0 ? 0 : 'auto'" [length]="totalLength" [pageSize]="pageSize"
      [disabled]="isLoadingResults">
    </mat-paginator>
  </detail-item-content>
</detail-item>