<div fxLayout="row">
  <div fxFlex.lg="1 1 calc(1em)"></div>
  <div fxFlex="8 8 calc(8em)" class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">个人培训记录导出</h4>
      <p class="card-category">您可以检索和导出所有历史培训记录</p>
    </div>
    <div class="card-body">
      <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
      </div>
      <form class="form-container" [formGroup]="filterForm">
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch"
             fxLayout.xs="column">
          <mat-form-field appearance="outline">
            <mat-icon matPrefix>event</mat-icon>
            <mat-label i18n>活动名称</mat-label>
            <input matInput placeholder="" formControlName="eventName" i18n-placeholder>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-icon matPrefix>place</mat-icon>
            <mat-label i18n>活动地点</mat-label>
            <input matInput placeholder="" formControlName="location" i18n-placeholder>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-icon matPrefix>calendar_today</mat-icon>
            <mat-label i18n>起始时间</mat-label>
            <input matInput [matDatepicker]="startPicker" placeholder="请告诉我们您所参加培训的时间" formControlName="startTime"
              i18n-placeholder>
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #startPicker disabled="false"></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-icon matPrefix>calendar_today</mat-icon>
            <mat-label i18n>截止时间</mat-label>
            <input matInput [matDatepicker]="endPicker" placeholder="请告诉我们您所参加培训的时间" formControlName="endTime"
              i18n-placeholder>
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #endPicker disabled="false"></mat-datepicker>
          </mat-form-field>

          <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="5px">
            <button mat-raised-button type="button" color="primary" (click)="doResultsExport()">导出</button>
            <button mat-raised-button type="button" color="primary" (click)="forceRefresh()">检索</button>
          </div>
        </div>
      </form>

      <div class="table-responsive">
        <table class="table table-hover text-center">
          <thead class="text-primary">
            <tr>
              <th scope="col">项目名称</th>
              <th scope="col">时间</th>
              <th scope="col">地点</th>
              <th scope="col">学时</th>
              <th scope="col">人数</th>
              <th scope="col">审核状态</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let record of results">
              <div *ngIf="record.off_campus_event; then offCampusEventBlock else campusEventBlock"></div>
              <ng-template #offCampusEventBlock>
                <td>{{ record.off_campus_event.name }}</td>
                <td>{{ record.off_campus_event.time | date:'medium' }}</td>
                <td>{{ record.off_campus_event.location }}</td>
                <td>{{ record.off_campus_event.num_hours }}</td>
                <td>{{ record.off_campus_event.num_participants }}</td>
                <td>{{ record.status }}</td>
              </ng-template>
              <ng-template #campusEventBlock>
                <td>{{ record.campus_event.name }}</td>
                <td>{{ record.campus_event.time | date:'medium' }}</td>
                <td>{{ record.campus_event.location }}</td>
                <td>{{ record.campus_event.num_hours }}</td>
                <td>{{ record.campus_event.num_participants }}</td>
                <td>{{ record.status }}</td>
              </ng-template>
            </tr>
          </tbody>
        </table>
        <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [disabled]="isLoadingResults"></mat-paginator>
      </div>
    </div>
  </div>
  <div fxFlex.lg="1 1 calc(1em)"></div>
</div>