<div class="loading-shade" *ngIf="isLoadingResults">
  <mat-spinner></mat-spinner>
</div>
<div class="table-responsive">
  <table class="table table-hover text-center">
    <thead class="text-primary">
      <tr>
        <th scope="col">活动名称</th>
        <th scope="col">活动时间</th>
        <th scope="col">活动地点</th>
        <th scope="col">活动学时</th>
        <th scope="col">参加人数</th>
        <th scope="col">培训记录状态</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of results" (click)="navigateToDetail(record)">
        <div *ngIf="record.off_campus_event; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <td scope="col" [matTooltip]="record.off_campus_event.name">{{ record.off_campus_event.name | truncate:11 }}</td>
          <td scope="col">{{ record.off_campus_event.time }}</td>
          <td scope="col" [matTooltip]="record.off_campus_event.location">{{ record.off_campus_event.location | truncate:11 }}</td>
          <td scope="col">{{ record.off_campus_event.num_hours | number:"1.1-1" }}</td>
          <td scope="col">{{ record.off_campus_event.num_participants }}</td>
        </ng-template>
        <ng-template #elseBlock>
          <td scope="col" [matTooltip]="record.campus_event.name">{{ record.campus_event.name | truncate:11 }}</td>
          <td scope="col">{{ record.campus_event.time }}</td>
          <td scope="col" [matTooltip]="record.campus_event.location">{{ record.campus_event.location | truncate:11 }}</td>
          <td scope="col">{{ record.campus_event.num_hours | number:"1.1-1" }}</td>
          <td scope="col">{{ record.campus_event.num_participants }}</td>
        </ng-template>
        <td>
         <mat-chip-list class="d-flex justify-content-center align-items-center">
          <mat-chip color="warn" *ngIf="warnStatus.has(record.status)" selected>{{ record.status_str }}</mat-chip>
          <mat-chip color="primary" *ngIf="primaryStatus.has(record.status)" selected>{{ record.status_str }}</mat-chip>
          <mat-chip color="disabled" *ngIf="disabledStatus.has(record.status)" selected>{{ record.status_str }}</mat-chip>
        </mat-chip-list>
        </td>
     </tr>
    </tbody>
  </table>
  <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [disabled]="isLoadingResults"></mat-paginator>
</div>