<div class="card">
  <div class="card-header card-header-danger">
    <h4 class="card-title">学部学院管理</h4>
    <p class="card-category">您可以查看和管理所有学部学院</p>
  </div>
  <div class="card-body">
    <div class="loading-shade" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div class="table-responsive">
      <table class="table table-hover text-center">
        <thead class="text-primary">
          <tr>
            <th scope="col">学部学院名称</th>
            <th scope="col">管理员数量</th>
            <th scope="col">教师数量</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let department of results"
              (click)="onSelect(department)"
              [class.selected]="department === departmentChildSelect"
              >
            <td>{{ department.name }}</td>
            <td>{{ department.admins.length }}</td>
            <td>{{ department.users.length }}</td>
          </tr>
        </tbody>
      </table>
      <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [disabled]="isLoadingResults"></mat-paginator>
    </div>
  </div>
</div>
