<a routerLink="./users">
  <div class="card card-plain">
    <div class="card-header card-header-primary">
      <h4 class="card-title">用户管理</h4>
      <p class="card-category">管理用户帐号对于系统各功能中的创建、修改、查询、删除、导出等操作权限，以及用户与部门之间的归属关系。</p>
    </div>
  </div>
</a>
<a routerLink="./departments">
  <div class="card card-plain">
    <div class="card-header card-header-primary">
      <h4 class="card-title">学部学院管理</h4>
      <p class="card-category">创建、修改以及删除学部学院信息，以及管理学部学院下属用户对系统特定功能的访问使用权限。</p>
    </div>
  </div>
</a>