<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">通知中心</h4>
          <p class="card-category">您可以查看所有历史通知记录</p>
        </div>
        <div class="card-body">
          <div class="float-right">
            <a mat-button color="primary" (click)="markAllAsRead()">标记所有为已读</a>
            <a mat-button color="warn" (click)="deleteAll()">清空所有通知</a>
          </div>
          <div class="loading-shade" *ngIf="isLoadingResults">
            <mat-spinner></mat-spinner>
          </div>
          <div class="table-responsive-lg">
            <table class="table table-hover text-center">
              <thead class="text-primary d-flex">
                <th class="col-2 col-sm-1"></th>
                <th class="col-10 col-sm-5">内容</th>
                <th class="col-6 col-sm-3">发送者</th>
                <th class="col-8 col-sm-3">发送时间</th>
              </thead>
              <tbody>
                <tr class="d-flex" *ngFor="let notification of notifications" (click)="navigateToDetail(notification)">
                  <td class="col-2 col-sm-1" *ngIf="notification.read_time; else unReadStatus">
                  </td>
                  <ng-template #unReadStatus>
                    <td class="text-danger col-2 col-sm-1">
                      <mat-icon>
                        fiber_manual_record
                      </mat-icon>
                    </td>
                  </ng-template>
                  <td class="col-10 col-sm-5 text-justify">{{ notification.content | slice:0:30 }}...</td>
                  <td class="col-6 col-sm-3">{{ notification.sender }}</td>
                  <td class="col-8 col-sm-3">{{ notification.time | date:'y年M月d日 H:mm::ss' }}</td>
                </tr>
              </tbody>
            </table>
            <mat-paginator [length]="notificationsLength" [pageSize]="pageSize" [disabled]="isLoadingResults"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>