<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">培训项目详情</h4>
          </div>
          <div class="card-body">
            <div class="detail-section" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap.md="10px" >
              <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
              fxLayoutGap="15px">
              <span class="item-title" fxFlex="1 0 20%">项目名称</span>
              <div class="item-content"  *ngIf="program" fxFlex="1 0 78%">
                <p>{{ program.name }}</p>
              </div>
              <div fxFlex="1 0 2%"></div>
            </div>
            <div class="detail-section" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap.md="10px">
              <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
              fxLayoutGap="15px">
              <span class="item-title" fxFlex="1 0 20%">所属院系</span>
              <div class="item-content" *ngIf="program" fxFlex="1 0 78%">
                <p>{{ program.department.name }}</p>
              </div>
              <div fxFlex="1 0 2%"></div>
            </div>
            <div class="detail-section" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap.md="10px">
              <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
              fxLayoutGap="15px">
              <span class="item-title" fxFlex="1 0 20%">培训类别</span>
              <div class="item-content" *ngIf="program" fxFlex="1 0 78%">
                <p>{{ program.category_detail }}</p>
              </div>
              <div fxFlex="1 0 2%"></div>
            </div>
            <div class="d-flex flex-row justify-content-end">
              <a class="btn btn-danger btn-sm active" role="button" aria-pressed="true" (click)="navigateToChangeProgram()">修改</a>
              <a class="btn btn-danger btn-sm active" role="button" aria-pressed="true" >删除</a>
              <a class="btn btn-danger btn-sm active" role="button" aria-pressed="true" (click)="location.back()">返回</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
