<div fxLayout="row">
  <div fxFlex.lg="1 1 calc(1em)"></div>
  <div fxFlex="8 8 calc(8em)" class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">培训项目详情</h4>
    </div>
    <div class="card-body">
      <detail-section>
        <detail-item>
          <detail-item-title>项目名称</detail-item-title>
          <detail-item-content>{{ program.name }}</detail-item-content>
        </detail-item>
        <detail-item>
          <detail-item-title>所属院系</detail-item-title>
          <detail-item-content>{{ program.department }}</detail-item-content>
        </detail-item>
        <detail-item>
          <detail-item-title>培训类别</detail-item-title>
          <detail-item-content>{{ program.category_str }}</detail-item-content>
        </detail-item>
        <detail-section-actions>
          <a mat-raised-button color="primary" (click)="navigateToChangeProgram()">修改</a>
          <a mat-raised-button color="primary" (click)="location.back()">返回</a>
        </detail-section-actions>
      </detail-section>
    </div>
  </div>
</div>