<div fxLayout="row">
  <div fxFlex.lg="1 1 calc(1em)"></div>
  <div fxFlex="8 8 calc(8em)" class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">校园培训活动详情</h4>
    </div>
    <div class="card-body">
      <detail-section>
        <detail-item>
          <detail-item-title>项目名称</detail-item-title>
          <detail-item-content>{{ event.program_detail.name }}</detail-item-content>
        </detail-item>

        <detail-item>
          <detail-item-title>项目院系</detail-item-title>
          <detail-item-content>{{ event.program_detail.department }}</detail-item-content>
        </detail-item>

        <detail-item>
          <detail-item-title>项目类型</detail-item-title>
          <detail-item-content>{{ event.program_detail.category_str }}</detail-item-content>
        </detail-item>

        <detail-item>
          <detail-item-title>活动名称</detail-item-title>
          <detail-item-content>{{ event.name }}</detail-item-content>
        </detail-item>

        <detail-item>
          <detail-item-title>活动时间</detail-item-title>
          <detail-item-content>{{ event.time | date:'medium' }}</detail-item-content>
        </detail-item>

        <detail-item>
          <detail-item-title>活动地点</detail-item-title>
          <detail-item-content>{{ event.location }}</detail-item-content>
        </detail-item>

        <detail-item>
          <detail-item-title>活动时长</detail-item-title>
          <detail-item-content>{{ event.num_hours | number:"0.1-1" }}</detail-item-content>
        </detail-item>

        <detail-item>
          <detail-item-title>活动报名人数</detail-item-title>
          <detail-item-content>{{ event.num_enrolled }} (已报名人数) / {{ event.num_participants }} (最大可报名人数)
          </detail-item-content>
        </detail-item>

        <detail-item>
          <detail-item-title>报名截止时间</detail-item-title>
          <detail-item-content>{{ event.deadline | date:'medium' }}</detail-item-content>
        </detail-item>

        <detail-item>
          <detail-item-title>活动简介</detail-item-title>
          <detail-item-content>
            <div [innerHTML]="description"></div>
          </detail-item-content>
        </detail-item>

        <detail-section-actions>
          <ng-container *ngIf="event.enrolled && eventDetailType === EventDetailType.USER">
            <button mat-raised-button color="primary" (click)="deleteEnrollment()">取消报名</button>
          </ng-container>
          <ng-container *ngIf="eventDetailType === EventDetailType.ADMIN">
            <button mat-raised-button color="primary" *ngIf="!event.reviewed && authService.isSchoolAdmin"
              (click)="reviewCampusEvent()">审核通过</button>
            <button mat-raised-button color="primary">导出签到表</button>
            <button mat-raised-button color="primary" (click)="navigateToChangeEvent()">修改</button>
          </ng-container>
          <button mat-raised-button color="primary" (click)="location.back()">返回</button>
        </detail-section-actions>
      </detail-section>
    </div>
  </div>
  <div fxFlex.lg="1 1 calc(1em)"></div>
</div>