<div class="loading-shade" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div fxLayout="row">
  <div fxFlex.lg="1 1 calc(1em)"></div>
  <div fxFlex="8 8 calc(8em)" class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">校内培训活动详情</h4>
    </div>
    <div class="card-body">
      <detail-section>
        <detail-item>
          <detail-item-title>项目名称</detail-item-title>
          <detail-item-content>{{ event.program_detail.name }}</detail-item-content>
        </detail-item>

        <detail-item>
          <detail-item-title>项目院系</detail-item-title>
          <detail-item-content>{{ event.program_detail.department }}</detail-item-content>
        </detail-item>

        <detail-item>
          <detail-item-title>项目类型</detail-item-title>
          <detail-item-content>{{ event.program_detail.category_str }}</detail-item-content>
        </detail-item>

        <detail-item>
          <detail-item-title>活动名称</detail-item-title>
          <detail-item-content>{{ event.name }}</detail-item-content>
        </detail-item>

        <detail-item>
          <detail-item-title>活动时间</detail-item-title>
          <detail-item-content>{{ event.time }}</detail-item-content>
        </detail-item>

        <detail-item>
          <detail-item-title>活动地点</detail-item-title>
          <detail-item-content>{{ event.location }}</detail-item-content>
        </detail-item>

        <detail-item>
          <detail-item-title>活动时长</detail-item-title>
          <detail-item-content>{{ event.num_hours | number:"0.1-1" }}</detail-item-content>
        </detail-item>

        <detail-item>
          <detail-item-title>活动报名人数</detail-item-title>
          <detail-item-content>{{ event.num_enrolled }} (已报名人数) / {{ event.num_participants }} (最大可报名人数)
          </detail-item-content>
        </detail-item>

        <detail-item>
          <detail-item-title>报名截止时间</detail-item-title>
          <detail-item-content>{{ event.deadline }}</detail-item-content>
        </detail-item>

        <detail-item>
          <detail-item-title>活动简介</detail-item-title>
          <detail-item-content>
            <div [innerHTML]="description"></div>
          </detail-item-content>
        </detail-item>
        <ng-container *ngIf="eventDetailType === EventDetailType.ADMIN">
            <detail-item>
              <detail-item-title>活动系数</detail-item-title>
              <detail-item-content>
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between stretch" *ngFor="let coefficient of event.coefficients">
                  <span>
                    <mat-icon matPrefix>people</mat-icon>
                    <mat-label i18n>角色：</mat-label>
                    {{ coefficient.role_str }}
                  </span>
                  <span>
                    <mat-icon matPrefix>note_add</mat-icon>
                    <mat-label i18n>系数：</mat-label>
                    {{ coefficient.coefficient }}
                  </span>
                  <span>
                    <mat-icon matPrefix>note_add</mat-icon>
                    <mat-label i18n>学时取整方式：</mat-label>
                    {{ coefficient.hours_option_str }}
                  </span>
                  <span>
                    <mat-icon matPrefix>note_add</mat-icon>
                    <mat-label i18n>工作量计算取整方式：</mat-label>
                    {{ coefficient.workload_option_str }}
                  </span>     
                </div>
              </detail-item-content>
            </detail-item>
        </ng-container>
        <detail-section-actions>
          <ng-container *ngIf="eventDetailType === EventDetailType.USER">
            <button mat-raised-button color="primary" *ngIf="event.enrolled; else enrollButton" (click)="deleteEnrollment()">取消报名</button>
            <ng-template #enrollButton>
              <button mat-raised-button color="primary" *ngIf="!event.expired" (click)="enrollEvent()">报名</button>
            </ng-template>
          </ng-container>
          <ng-container *ngIf="eventDetailType === EventDetailType.ADMIN">
            <button mat-raised-button color="primary" *ngIf="!event.reviewed && authService.isSchoolAdmin"
              (click)="reviewCampusEvent()">审核通过</button>
            <button mat-raised-button color="primary" (click)="displayEnrollments()">查看报名信息</button>
            <button mat-raised-button color="primary" (click)="doResultsExport()">导出签到表</button>
            <button mat-raised-button color="primary" *ngIf="!event.expired" (click)="copyEnrollLink()">复制报名链接</button>
            <button mat-raised-button color="primary" *ngIf="authService.isSchoolAdmin || !event.reviewed" (click)="navigateToChangeEvent()">修改</button>
          </ng-container>
          <button mat-raised-button color="primary" (click)="location.back()">返回</button>
        </detail-section-actions>
      </detail-section>
    </div>
  </div>
  <div fxFlex.lg="1 1 calc(1em)"></div>
</div>