<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">通知中心</h4>
          <p class="card-category">您可以查看所有历史通知记录</p>
        </div>
        <div class="card-body">
          <div fxLayout="row" fxLayoutAlign="end stretch" fxLayoutGap="5px">
            <a mat-raised-button color="primary" (click)="markAllAsRead()">标记所有已读</a>
          </div>
          <div class="loading-shade" *ngIf="isLoadingResults">
            <mat-spinner></mat-spinner>
          </div>
          <div class="table-responsive">
            <table class="table table-hover text-center">
              <thead class="text-primary">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">内容</th>
                  <th scope="col">发送者</th>
                  <th scope="col">发送时间</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let notification of results" (click)="navigateToDetail(notification)">
                  <th scope="row">
                    <span class="text-danger" *ngIf="!notification.read_time">
                      <mat-icon>
                        fiber_manual_record
                      </mat-icon>
                    </span>
                  </th>
                  <td class="text-justify">
                    {{ notification.content | slice:0:30 }}...
                  </td>
                  <td>{{ notification.sender }}</td>
                  <td>{{ notification.time | date:'y年M月d日 H:mm::ss' }}</td>
                </tr>
              </tbody>
            </table>
            <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [disabled]="isLoadingResults"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>