<div class="container-fluid">
  <div class="row">
      <div class="col-md-2">
        <mat-form-field>
          <mat-label>选择统计类型</mat-label>
          <mat-select [formControl]="selectedGraphType">
            <mat-option *ngFor="let statistics of statisticsType" [value]="statistics.id">{{statistics.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-2">
        <mat-form-field>
          <mat-label>选择分组类型</mat-label>
          <mat-select [formControl]="selectedGroupType">
            <mat-option *ngFor="let groupType of secondType[selectedGraphType.value]" [value]="groupType.id">{{groupType.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field appValidator >
          <mat-label>输入起始年份</mat-label>
          <mat-select  [formControl]="selectedStartYear" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let year of startYearList" [value]="year">{{year}}</mat-option>
          </mat-select>
          <mat-error *ngIf="selectedStartYear.hasError('required')">Please choose a right start year</mat-error>
        </mat-form-field>
        <div *ngIf="selectedGraph.errors?.timeValidator" class="cross-validation-error-message alert alert-danger">请选择正确的开始年份</div>
      </div>
      <div class="col-md-2">
        <mat-form-field appValidator>
          <mat-label>输入终止年份</mat-label>
          <mat-select [formControl]="selectedEndYear" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let year of endYearList" [value]="year">{{year}}</mat-option>
          </mat-select>
          <mat-error *ngIf="selectedGraph.invalid && !selectedEndYear.hasError('required')">Please choose a right end year</mat-error>
        </mat-form-field>
        <div *ngIf="selectedGraph.errors?.timeValidator" class="cross-validation-error-message alert alert-danger">请选择正确的结束年份</div>
      </div>
      <div class="col-md-2" *ngIf="showDepartmentSelector">
        <mat-form-field>
          <mat-label>选择学院</mat-label>
          <mat-select [formControl]="selectedDepartment">
            <mat-option *ngFor="let department of departmentsList" [value]="department">{{department}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div>
        <app-data-graph-child #child2 [isPieGraph] = "true" [graphParam]="selectedGraphValues" [titleGraphNames]="statisticsType"></app-data-graph-child>
      </div>
    </div>
    <div class="col-md-6">
        <div >
          <app-data-graph-child #child3 [isPieGraph] = "true" [graphParam]="selectedGraphValues" [titleGraphNames]="statisticsType"></app-data-graph-child>
        </div>
    </div>
  </div>
  <div>
    <app-data-graph-child #child1 [isPieGraph] = "false" [graphParam]="selectedGraphValues" [titleGraphNames]="statisticsType"></app-data-graph-child>
  </div>
</div>
