<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <a routerLink="./account-permission">
        <div class="card card-plain">
          <div class="card-header card-header-danger">
            <h4 class="card-title">帐号权限管理</h4>
            <p class="card-category">管理用户帐号对于系统各功能中的创建、修改、查询、删除、导出等操作权限。</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <a routerLink="./department-admins">
        <div class="card card-plain">
          <div class="card-header card-header-danger">
            <h4 class="card-title">二级单位管理员设置</h4>
            <p class="card-category">为各个二级单位设置管理员。</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>