<detail-section>
  <detail-item>
    <detail-item-title>项目名称</detail-item-title>
    <detail-item-content>{{ record.off_campus_event.name }}</detail-item-content>
  </detail-item>
  <detail-item>
    <detail-item-title>培训时间</detail-item-title>
    <detail-item-content>{{ record.off_campus_event.time | date:'medium' }}</detail-item-content>
  </detail-item>
  <detail-item>
    <detail-item-title>培训地点</detail-item-title>
    <detail-item-content>{{ record.off_campus_event.location }}</detail-item-content>
  </detail-item>
  <detail-item>
    <detail-item-title>培训学时</detail-item-title>
    <detail-item-content>{{ record.off_campus_event.num_hours | number:"1.1-1" }}</detail-item-content>
  </detail-item>
  <detail-item>
    <detail-item-title>参加人数</detail-item-title>
    <detail-item-content>{{ record.off_campus_event.num_participants }}</detail-item-content>
  </detail-item>
  <detail-item>
    <detail-item-title>人员信息</detail-item-title>
    <detail-item-content>{{ record.user }}</detail-item-content>
  </detail-item>
  <detail-item>
    <detail-item-title>参与方式</detail-item-title>
    <detail-item-content>{{ record.role_str }}</detail-item-content>
  </detail-item>
  <div *ngFor="let con of record.contents">
    <div *ngIf="con.content_type === 0">
      <detail-item>
        <detail-item-title>培训内容</detail-item-title>
        <detail-item-content>{{ con.content }}</detail-item-content>
      </detail-item>
    </div>
  </div>
  <div *ngFor="let con of record.contents">
    <div *ngIf="con.content_type === 1">
      <detail-item>
        <detail-item-title>培训总结</detail-item-title>
        <detail-item-content>{{ con.content }}</detail-item-content>
      </detail-item>
    </div>
  </div>
  <div *ngFor="let con of record.contents">
    <div *ngIf="con.content_type === 2">
      <detail-item>
        <detail-item-title>培训反馈</detail-item-title>
        <detail-item-content>{{ con.content }}</detail-item-content>
      </detail-item>
    </div>
  </div>
  <div *ngIf="record.attachments.length">
    <detail-item>
      <detail-item-title>附加文件</detail-item-title>
      <detail-item-content>
        <div *ngFor="let att of record.attachments">
          <a [href]="att.path.url">{{ att.path.name }}</a>
        </div>
      </detail-item-content>
    </detail-item>
  </div>
  <detail-item>
    <detail-item-title>审核提示</detail-item-title>
    <detail-item-content>
      <div *ngFor="let reviewNote of reviewNotes">
        <p>
        {{ reviewNote.content }}
        <span class="span1"></span>
        ({{ reviewNote.user }}){{ reviewNote.create_time | date:'medium' }}
        </p>
      </div>
      <mat-paginator [length]="reviewNotesLength" [pageSize]="pageSize" [disabled]="isLoadingReviewNotes"></mat-paginator>
      <div fxLayout="row" fxLayoutAlign="space-between start" fxLayout.xs="column" fxLayoutAlign.xs="start stretch">
        <div fxLayout="row" fxFlex="1 1 80%" fxLayoutGap="5px">
          <mat-form-field fxFlexFill fxLayoutAlign="center" appearance="outline">
            <mat-icon matPrefix>assignment</mat-icon>
            <mat-label i18n>审核与反馈</mat-label>
            <input matInput [(ngModel)]="reviewNoteContent" placeholder="请输入内容" i18n-placeholder required>
          </mat-form-field>
        </div>
        <detail-section-actions>
          <a mat-raised-button color="primary" (click)="onSubmit()">提交</a>
        </detail-section-actions>
      </div>
    </detail-item-content>
  </detail-item>
</detail-section>
