<div class="detail-section" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap.md="10px">
  <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
    fxLayoutGap="15px">
    <span class="item-title" fxFlex="1 0 20%">项目名称</span>
    <div class="item-content" fxFlex="1 0 78%">
      <p>{{ record.off_campus_event.name }}</p>
    </div>
    <div fxFlex="1 0 2%"></div>
  </div>

  <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
    fxLayoutGap="15px">
    <span class="item-title" fxFlex="1 0 20%">培训时间</span>
    <div class="item-content" fxFlex="1 0 78%">
      <p>{{ record.off_campus_event.time | date:'y年M月d日 H:mm' }}</p> 
    </div>
    <div fxFlex="1 0 2%"></div>
  </div>

  <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
    fxLayoutGap="15px">
    <span class="item-title" fxFlex="1 0 20%">培训地点</span>
    <div class="item-content" fxFlex="1 0 78%">
      <p>{{ record.off_campus_event.location }}</p>
    </div>
    <div fxFlex="1 0 2%"></div>
  </div>

  <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
    fxLayoutGap="15px">
    <span class="item-title" fxFlex="1 0 20%">培训学时</span>
    <div class="item-content" fxFlex="1 0 78%">
      <p>{{ record.off_campus_event.num_hours | number:"1.0-2" }}</p>
    </div>
    <div fxFlex="1 0 2%"></div>
  </div>

  <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
    fxLayoutGap="15px">
    <span class="item-title" fxFlex="1 0 20%">参加人数</span>
    <div class="item-content" fxFlex="1 0 78%">
      <p>{{ record.off_campus_event.num_participants }}</p>
    </div>
    <div fxFlex="1 0 2%"></div>
  </div>

  <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
    fxLayoutGap="15px">
    <span class="item-title" fxFlex="1 0 20%">人员信息</span>
    <div class="item-content" fxFlex="1 0 78%">
      <p>{{ record.user }}</p>
    </div>
    <div fxFlex="1 0 2%"></div>
  </div>

  <div *ngFor="let con of record.contents">
    <div *ngIf="con.content_type === 0">
      <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
        fxLayoutGap="15px">
        <span class="item-title" fxFlex="1 0 20%">培训内容</span>
        <div class="item-content" fxFlex="1 0 78%">
          <p>{{ con.content }}</p>
        </div>
        <div fxFlex="1 0 2%"></div>
      </div>
    </div>
  </div>

  <div *ngFor="let con of record.contents">
    <div *ngIf="con.content_type === 1">
      <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
        fxLayoutGap="15px">
        <span class="item-title" fxFlex="1 0 20%">培训总结</span>
        <div class="item-content" fxFlex="1 0 78%">
          <p>{{ con.content }}</p>
        </div>
        <div fxFlex="1 0 2%"></div>
      </div>
    </div>
  </div>

  <div *ngFor="let con of record.contents">
    <div *ngIf="con.content_type === 2">
      <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
        fxLayoutGap="15px">
        <span class="item-title" fxFlex="1 0 20%">培训反馈</span>
        <div class="item-content" fxFlex="1 0 78%">
          <p>{{ con.content }}</p>
        </div>
        <div fxFlex="1 0 2%"></div>
      </div>
    </div>
  </div>

  <div *ngIf="record.attachments.length">
    <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
      fxLayoutGap="15px">
      <span class="item-title" fxFlex="1 0 20%">附加文件</span>
      <div class="item-content" fxFlex="1 0 78%">
        <div *ngFor="let att of record.attachments">
          <a>{{ att.path.name }}</a>
        </div>
      </div>
      <div fxFlex="1 0 2%"></div>
    </div>
  </div>

  <div class="detail-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
    fxLayoutGap="15px">
    <span class="item-title" fxFlex="1 0 20%">审核提示</span>
    <div class="item-content" fxFlex="1 0 78%">
      <div *ngFor="let reviewnote of results">
        <div *ngIf="reviewnote">
          <p>
          {{ reviewnote.content }}
          <span class="span1"></span>
          (XXX){{ reviewnote.create_time | date:'y.M.d H:mm' }}
          </p>
        </div>
      </div>
      <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [disabled]="isLoadingResults"></mat-paginator>
      <div fxLayout="row" fxLayoutAlign="space-between start" fxLayout.xs="column" fxLayoutAlign.xs="start stretch">
        <div fxLayout="row" fxFlex="1 1 80%" fxLayoutGap="5px">
          <mat-form-field fxFlexFill fxLayoutAlign="center" appearance="outline">
            <mat-icon matPrefix>assignment</mat-icon>
            <mat-label i18n>审核与反馈</mat-label>
            <input matInput [(ngModel)]="reviewnotecontent" placeholder="请输入内容" i18n-placeholder required>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxFlex="1 1 20%" fxLayoutAlign="end center">
          <button mat-raised-button type="submit" (click)="onSubmit()" class="btn btn-danger">提交</button>
        </div>
      </div>
    </div>
    <div fxFlex="1 0 2%"></div>
  </div>

</div>
