<div class="container" fxLayout="column" fxLayoutGap="10px">
  <a routerLink="../record-form">
    <mat-card>
      <mat-card-title i18n>
        培训数据录入
      </mat-card-title>
      <mat-card-content i18n>
        使用在线表单填写提交单条培训数据。
      </mat-card-content>
    </mat-card>
  </a>
  <a routerLink="../batch-submit">
    <mat-card>
      <mat-card-title i18n>
        培训数据批量导入
      </mat-card-title>
      <mat-card-content i18n>
        使用规定格式的Excel文件一次性导入多条培训记录。
      </mat-card-content>
    </mat-card>
  </a>
</div>
