<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <a routerLink="./records">
        <div class="card card-plain">
          <div class="card-header card-header-danger">
            <h4 class="card-title">培训记录审核</h4>
            <p class="card-category">审核项目记录。</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <a routerLink="./batch-submit">
        <div class="card card-plain">
          <div class="card-header card-header-danger">
            <h4 class="card-title">培训记录录入</h4>
            <p class="card-category">批量导入校内培训记录。</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
