<a routerLink="./review/records">
  <div class="card card-plain">
    <div class="card-header card-header-primary">
      <h4 class="card-title">培训记录审核</h4>
      <p class="card-category">审核项目记录。</p>
    </div>
  </div>
</a>
<a routerLink="./review/events" *ngIf="authService.isSchoolAdmin">
  <div class="card card-plain">
    <div class="card-header card-header-primary">
      <h4 class="card-title">院系培训活动审核</h4>
      <p class="card-category">审核各院系管理员创建的培训活动。</p>
    </div>
  </div>
</a>
<a routerLink="./batch-submit">
  <div class="card card-plain">
    <div class="card-header card-header-primary">
      <h4 class="card-title">培训记录录入</h4>
      <p class="card-category">批量导入校内培训记录。</p>
    </div>
  </div>
</a>
<!-- <a routerLink="./table-export">
  <div class="card card-plain">
    <div class="card-header card-header-primary">
      <h4 class="card-title">表格导出</h4>
      <p class="card-category">各种表格导出。</p>
    </div>
  </div>
</a> -->
<a routerLink="./data-graph">
  <div class="card card-plain">
    <div class="card-header card-header-primary">
      <h4 class="card-title">数据统计图展示</h4>
      <p class="card-category">数据可视化统计展示。</p>
    </div>
  </div>
</a>