<div fxLayout="row">
  <div fxFlex.lg="1 1 calc(1em)"></div>
  <div fxFlex="8 8 calc(8em)" class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">培训数据详情</h4>
    </div>
    <div class="card-body">
      <div *ngIf="record.off_campus_event; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <app-off-campus-record-detail [record]="record"></app-off-campus-record-detail>
      </ng-template>

      <ng-template #elseBlock>
        <app-campus-record-detail [record]="record"></app-campus-record-detail>
      </ng-template>

      <detail-section-actions>
        <a mat-raised-button color="primary" *ngIf="!isCampusEventRecord && editable" (click)="navigateToForm()">编辑</a>
        <a mat-raised-button color="primary" *ngIf="isCampusEventRecord && !hasFeedbackSent"
          (click)="openDialog()">提交反馈</a>
        <a mat-raised-button color="primary" (click)="location.back()">返回</a>
      </detail-section-actions>
    </div>
  </div>
  <div fxFlex.lg="1 1 calc(1em)"></div>
</div>