<div fxLayout="row">
  <div fxFlex.lg="1 1 calc(1em)"></div>
  <div fxFlex="8 8 calc(8em)" class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">培训数据详情</h4>
    </div>
    <div class="card-body">
      <div *ngIf="record.off_campus_event; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <app-off-campus-record-detail [record]="record"></app-off-campus-record-detail>
      </ng-template>

      <ng-template #elseBlock>
        <detail-section>
          <detail-item>
            <detail-item-title>活动名称</detail-item-title>
            <detail-item-content>{{ record.campus_event.name }}</detail-item-content>
          </detail-item>
          <detail-item>
            <detail-item-title>活动时间</detail-item-title>
            <detail-item-content>{{ record.campus_event.time | date:'medium' }}</detail-item-content>
          </detail-item>
          <detail-item>
            <detail-item-title>活动地点</detail-item-title>
            <detail-item-content>{{ record.campus_event.location }}</detail-item-content>
          </detail-item>
          <detail-item>
            <detail-item-title>主办单位</detail-item-title>
            <detail-item-content>{{ record.campus_event.program_detail.department }}</detail-item-content>
          </detail-item>
          <detail-item>
            <detail-item-title>活动类型</detail-item-title>
            <detail-item-content>{{ record.campus_event.program_detail.category_str }}</detail-item-content>
          </detail-item>
          <detail-item>
            <detail-item-title>活动学时</detail-item-title>
            <detail-item-content>{{ record.campus_event.num_hours | number:"1.1-1" }}</detail-item-content>
          </detail-item>
          <detail-item>
            <detail-item-title>参加身份</detail-item-title>
            <detail-item-content>{{ record.role_str }}</detail-item-content>
          </detail-item>
          <detail-item>
            <detail-item-title>培训记录状态</detail-item-title>
            <detail-item-content>{{ record.status_str }}</detail-item-content>
          </detail-item>
        </detail-section>
      </ng-template>

      <detail-section-actions>
        <a mat-raised-button color="primary" *ngIf="!isCampusEventRecord && editable" (click)="navigateToForm()">编辑</a>
        <a mat-raised-button color="primary" *ngIf="isCampusEventRecord && !hasFeedbackSent"
          (click)="openDialog()">提交反馈</a>
        <a mat-raised-button color="primary" (click)="location.back()">返回</a>
      </detail-section-actions>
    </div>
  </div>
  <div fxFlex.lg="1 1 calc(1em)"></div>
</div>