<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">校外培训记录</h4>
          <p class="card-category">您可以查看所有校外培训记录</p>
        </div>
        <div class="card-body">
            <div class="float-right">
                <button mat-raised-button color="warn" (click)="navigateToForm()">校外培训记录填报</button>
              </div>
          <div class="loading-shade" *ngIf="isLoadingResults">
            <mat-spinner></mat-spinner>
          </div>
          <div class="table-responsive">
            <table class="table table-hover text-center">
              <thead class="text-primary">
                <tr>
                  <th scope="col">项目名称</th>
                  <th scope="col">时间</th>
                  <th scope="col">地点</th>
                  <th scope="col">学时</th>
                  <th scope="col">人数</th>
                  <th scope="col">审核状态</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let record of results" (click)="navigateToDetail(record)">
                    <td scope="col">{{ record.off_campus_event.name }}</td>
                    <td scope="col">{{ record.off_campus_event.time | date:'y.M.d' }}</td>
                    <td scope="col">{{ record.off_campus_event.location }}</td>
                    <td scope="col">{{ record.off_campus_event.num_hours }}</td>
                    <td scope="col">{{ record.off_campus_event.num_participants }}</td>
                    <td scope="col">{{ record.status_str }}</td>
                </tr>
              </tbody>
            </table>
            <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [disabled]="isLoadingResults"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
