<div fxLayout="row">
  <div fxFlex.lg="1 1 calc(1em)"></div>
  <div fxFlex="8 8 calc(8em)" class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">校外培训记录</h4>
      <p class="card-category">您可以查看所有校外培训记录</p>
    </div>
    <div class="card-body">
      <div class="float-right">
        <button mat-raised-button color="primary" (click)="navigateToForm()">校外培训记录填报</button>
      </div>
      <app-shared-record-list [recordListType]="recordListType"></app-shared-record-list>
    </div>
  </div>
  <div fxFlex.lg="1 1 calc(1em)"></div>
</div>