<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">帐号权限管理</h4>
        </div>
        <div class="card-body">
          <form (ngSubmit)="retrieveUserPermissions()">
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <mat-form-field>
                      <input matInput type="text" name="username" placeholder="用户名" [(ngModel)]="username"
                        #usernameModel="ngModel" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 col-12" fxLayout="column" fxLayoutAlign="end start"
                    *ngIf="usernameModel.invalid && (usernameModel.dirty || usernameModel.touched)">
                    <p class="text-danger" *ngIf="usernameModel.errors['required']">请输入用户名。</p>
                    <p class="text-danger" *ngIf="usernameModel.errors['doesNotExist']">该用户名不存在。</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="row">
                  <div class="col-6">
                    <button mat-raised-button type="submit" class="btn btn-danger"
                      [disabled]="usernameModel.invalid">检索</button>
                  </div>
                  <div class="col-6">
                    <button mat-raised-button type="button" class="btn btn-success" (click)="updatePermissions()"
                      *ngIf="originalPermissions.length !== 0">保存</button>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-spinner *ngIf="isLoading; else permissionsTable" color="warn" mode="indeterminate">
            </mat-spinner>
          </div>
          <p class="text-danger" *ngIf="errorMessage !== null">{{ errorMessage }}</p>
          <ng-template #permissionsTable>
            <table class="table" *ngIf="newPermissions.length !== 0">
              <thead class="text-primary">
                <th>
                  权限名称
                </th>
                <th>
                  是否拥有该权限？
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let perm of newPermissions">
                  <td>
                    {{perm.permission.label}}
                  </td>
                  <td>
                    <mat-checkbox [(ngModel)]="perm.hasPermission"></mat-checkbox>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>