/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

a {
    text-decoration-line: none;
}

a:hover {
    cursor: pointer;
}

.active-link {
    color: #1976d2 !important;
}

mat-icon {
    vertical-align: middle;
}

.indent-2 {
    text-indent: 2em;
}