/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.watermark {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-image: url(./assets/img/dlut-watermark.jpg);
    background-repeat: repeat;
    opacity: 0.05;
    transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
}

a {
    text-decoration-line: none;
}

a:hover {
    cursor: pointer;
}

.active-link {
    color: #1976d2 !important;
}

mat-icon {
    vertical-align: middle;
}

.indent-2 {
    text-indent: 2em;
}

th, td {
  white-space: nowrap;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

tr:hover {
  cursor: pointer;
}

.card-body .detail-item .item-title {
    text-align: right;
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(232, 73, 73);
}

tr.selected {
  background-color: rgb(232, 73, 73) !important;
  color: white;
}


mat-divider {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

/* Fix mat-option display conflict in mat-select. */
.mat-pseudo-checkbox-checked::after {
    width: 10px !important;
    height: 5px !important;
}
