/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.lug.ustc.edu.cn/icon?family=Material+Icons");

.watermark {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-image: url(./assets/img/dlut-watermark.jpg);
    background-repeat: repeat;
    opacity: 0.05;
    transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
}

a {
    text-decoration-line: none;
}

a:hover {
    cursor: pointer;
}

.active-link {
    color: #1976d2 !important;
}

mat-icon {
    vertical-align: middle;
}

.indent-2 {
    text-indent: 2em;
}