<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">培训数据详情</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive-lg">
            <table class="table table-hover text-left">
              <tbody>
                <tr class="d-flex">
                  <td class="col-12 col-sm-6">
                    <div class="w-100">
                      <h3 class="text-danger text-left">项目名称</h3>
                      <td class="col-11">
                        <p class="text-left">{{ record.off_campus_event.name }}</p>
                      </td>
                    </div>
                  </td>
                  <td class="col-12 col-sm-6">
                    <div class="w-100">
                      <h3 class="text-danger text-left">时间</h3>
                      <td class="col-11">
                        <p class="text-left">{{ record.off_campus_event.time | date:'y.M.d H:mm' }}</p>
                      </td>
                    </div>
                  </td>
                </tr>
                <tr class="d-flex">
                  <td class="col-12 col-sm-6">
                    <div class="w-100">
                      <h3 class="text-danger text-left">地点</h3>
                      <td class="col-11">
                        <p class="text-left">{{ record.off_campus_event.location }}</p>
                      </td>
                    </div>
                  </td>
                  <td class="col-12 col-sm-6">
                    <div class="w-100">
                      <h3 class="text-danger text-left">学时</h3>
                      <td class="col-11">
                        <p class="text-left">{{ record.off_campus_event.num_hours | number:"1.0-2" }}</p>
                      </td>
                    </div>
                  </td>
                </tr>
                <tr class="d-flex">
                  <td class="col-12 col-sm-6">
                    <div class="w-100">
                      <h3 class="text-danger text-left">人数</h3>
                      <td class="col-11">
                        <p class="text-left">{{ record.off_campus_event.num_participants }}</p>
                      </td>
                    </div>
                  </td>
                  <td class="col-12 col-sm-6">
                    <div class="w-100">
                      <h3 class="text-danger text-left">人员信息</h3>
                      <td class="col-11">
                        <p class="text-left">{{ record.user }}</p>
                      </td>
                      <td class="col-1">
                      </td>
                    </div>
                  </td>
                </tr>
                <tr class="d-flex">
                  <td class="col-12 col-sm-6">
                    <div class="w-100">
                      <h3 class="text-danger text-left">培训内容</h3>
                      <td class="col-11">
                        <div *ngFor="let con of record.contents">
                          <div *ngIf="con.content_type === 0">
                            <p class="text-left">{{ con.content }}</p>
                          </div>
                        </div>
                      </td>
                    </div>
                  </td>
                  <td class="col-12 col-sm-6">
                    <div class="w-100">
                      <h3 class="text-danger text-left">培训总结</h3>
                      <td class="col-11">
                        <div *ngFor="let con of record.contents">
                          <div *ngIf="con.content_type === 1">
                            <p class="text-left">{{ con.content }}</p>
                          </div>
                        </div>
                      </td>
                    </div>
                  </td>
                </tr>
                <tr class="d-flex">
                  <td class="col-12 col-sm-6">
                    <div class="w-100">
                      <h3 class="text-danger text-left">培训反馈</h3>
                      <td class="col-11">
                        <div *ngFor="let con of record.contents">
                          <div *ngIf="con.content_type === 2">
                            <p class="text-left">{{ con.content }}</p>
                          </div>
                        </div>
                      </td>
                    </div>
                  </td>
                  <td class="col-12 col-sm-6">
                    <div class="w-100">
                      <h3 class="text-danger text-left">附加文件</h3>
                      <td class="col-11">
                        <div *ngFor="let att of record.attachments">
                          <div *ngIf="att">
                            <a class="text-left">{{ att.path }}</a>
                          </div>
                        </div>
                      </td>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <h3 class="card-title">审核与反馈</h3>
          <div class="border-dark border">
            <table class="table table-hover text-left">
              <thead>
                <th>内容</th>
                <th>发送时间</th>
              </thead>
              <tbody>
                <tr *ngFor="let reviewnote of results">
                  <td *ngIf="reviewnote">
                    <span>{{ reviewnote.content }}</span>
                  </td>
                  <td *ngIf="reviewnote">
                    <span>{{ reviewnote.create_time | date:'y.M.d H:mm' }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [disabled]="isLoadingResults"></mat-paginator>
          </div>
          <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-9 col-8">
              <mat-form-field appearance="outline">
                <mat-icon matPrefix>assignment</mat-icon>
                <mat-label i18n>审核意见</mat-label>
                <input matInput [(ngModel)]="reviewnotecontent" placeholder="请输入审核意见" i18n-placeholder required>
              </mat-form-field>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
              <button mat-raised-button type="button" (click)="onSubmit()" class="btn btn-danger">提交</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12">
            <span class="float-right">
              <button mat-raised-button class="btn btn-danger">通过</button>
              <button mat-raised-button class="btn btn-danger">不通过</button>
              <button mat-raised-button class="btn btn-danger">返回</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
