<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <p class="text-justify indent-2">id:{{ item.id }}</p>
          <p class="text-justify indent-2">creat_time:{{ item.creat_time }}</p>
          <p class="text-justify indent-2">update_time:{{ item.update_time }}</p>
          <p class="text-justify indent-2">name:{{ item.name}}</p>
          <p class="text-justify indent-2">time:{{ item.time }}</p>
          <p class="text-justify indent-2">location:{{ item.location }}</p>
          <p class="text-justify indent-2">num_hours:{{ item.num_hours }}</p>
          <p class="text-justify indent-2">num_participants:{{ item.num_participants }}</p>
          <p class="text-justify indent-2">deadline:{{ item.deadline }}</p>
          <p class="text-justify indent-2">description:{{ item.description }}</p>
          <p class="text-justify indent-2">description:{{ item.description }}</p>
          <p class="text-justify indent-2">program:{{ item.program }}</p>         
           
      </div>
    </div>
  </div>
</div>