<div fxLayout="column">
  <div fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="10px"
       fxLayout.gt-sm="row">
    <div class="card card-stats">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <i class="material-icons">content_copy</i>
        </div>
        <p class="card-category">个人培训记录数量</p>
        <h3 class="card-title">126</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">access_time</i>
          最后更新：2019年3月28日 14:00
        </div>
      </div>
    </div>
    <div class="card card-stats">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="material-icons">store</i>
        </div>
        <p class="card-category">参加校内培训数量</p>
        <h3 class="card-title">38</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">access_time</i>
          最后更新：2019年3月28日 14:00
        </div>
      </div>
    </div>
    <div class="card card-stats">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <i class="material-icons">info_outline</i>
        </div>
        <p class="card-category">参加校外培训数量</p>
        <h3 class="card-title">88</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">access_time</i>
          最后更新：2019年3月28日 14:00
        </div>
      </div>
    </div>
    <div class="card card-stats">
      <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon">
          <i class="material-icons">access_time</i>
        </div>
        <p class="card-category">去年培训记录数量</p>
        <h3 class="card-title">233</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">access_time</i>
          最后更新：2019年3月28日 14:00
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="20px" fxLayout.gt-sm="row">
    <div class="card card-chart">
      <div class="card-header card-header-success">
        <h4 class="card-title">个人月度培训记录新增情况</h4>
        <p class="card-category">
        </p>
      </div>
      <div class="card-body">
        <div echarts [options]="chartOption"></div>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">access_time</i>
          最后更新：2019年3月28日 14:00
        </div>
      </div>
    </div>
    <div class="card card-chart">
      <div class="card-header card-header-primary">
        <h4 class="card-title">个人月度培训记录新增情况</h4>
        <p class="card-category">
        </p>
      </div>
      <div class="card-body">
        <div echarts [options]="chartOption"></div>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">access_time</i>
          最后更新：2019年3月28日 14:00
        </div>
      </div>
    </div>
  </div>
</div>